.gradle
/build/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

### Travis ###
!.travis.yml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr



# Cache of project
.gradletasknamecache

# Ignore Gradle GUI config
gradle-app.setting




